@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --creme: #f3e9dcff;
    --caramelo: #c08552ff;
    --chocolate: #5e3023ff;
    --marrom-claro: #895737ff;
    --chocolate-branco: #dab49dff;
    --fonte-titulo: "Pacifico", cursive;
    --fonte-texto: "Gowun Batang", serif;
}
body{
    background-color: var(--chocolate-branco);
    font-family: var(--fonte-texto);
}

h1{
    background-color: rgb(175, 97, 51);
}
.cabecalho{
    background-color: var(--caramelo);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecalho{
    background-color: var(--marrom-claro);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalho-img{
    width: 10%;
    margin: 2em;
}
.cabecalho-link{
    text-decoration: none;
    font-size: 2em;
    color: var(--chocolate);
    font-family: var(--fonte-titulo);
}
.principal-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image: url(img/menu.webp);
    background-repeat: no-repeat;
    margin-left: 12px;
    padding: 24px 12px;
}
.principal-capa_conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.principal-capa_titulo{
    font-family: var(--fonte-titulo);
    font-size: 32px;
    color: var(--cor-dois);
    margin-bottom: 12px;
}
.principal-capa_texto{
    font-size: 24px;
    margin-top: 24px;
}
.principal-capa_imagem{
    border-radius: 0 5% 0 5%;
}
.principal-capa_combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.principal-capa_botao{
    background-color: var(--cor-um);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    color: var(--cor-dois);
    text-decoration: none;
}
.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--cor-dois);
    color: var(--cor-dois);
}